h1{ font-size: 44px;
    text-align: center;
}
header{
    margin:10%;
    width:80%;
    background-color: red;
}
ul li{
    float:left;
    padding: 5px 30px;
    list-style-type: none;
    border: dotted;
}

a{text-decoration: none;}

.telo{
    display: inline-block;
    margin:15px;
    padding: 15px;
    text-align: center;
    width: auto;
    height: auto;
    border:2px solid blue;}
    /*padding: 10px 5px;*/


.telo .telo1{
    float:left;
    width:33%;
    height:auto;
    background-color: #2aabd2;
}
.telo2{
    float:left;
    width:33%;
    height:auto;
    background-color: green;
}
.telo3{
    float:left;
    width:33%;
    height:auto;
    background-color:red;
}